 .sidebar-title {
    font-size: 22px;
    font-weight: bolder;
    margin-bottom: 20px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
 }

 .sidebar-items {
    margin-top: 20px;
 }

.sidebar-lable-container {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 12px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 1px;
}

.sidebar-lable-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
   
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 50%;
}


.sidebar-lable-container:hover input ~ .checkmark {
    background-color: #ccc;
}

.sidebar-lable-container input:checked ~ .checkmark {
    background-color: #f32121;
}

.checkmark::after{
    content: "";
    position: absolute;
    display: none;
}

.sidebar-lable-container input:checked ~ .checkmark::after{
    display: block;
}
  
.sidebar-lable-container .checkmark::after{
    top: 6.5px;
    left: 6.5px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background:#fff;
}

.line {
    margin-top: 3rem;
    border-color: #f7f7f7;
}